.navMenu {
  position: relative;
}
/** the dot **/
.navMenu a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@font-face {
  font-family: "Cameliya";
  src: local("Cameliya"), url("~Cameliya/Cameliya.otf") format("opentype");
}

.links {
  position: relative;
  display: inline-block;
}

/* The actual popup */
.links .popuptext {
  display: grid;
  place-items: start;
  visibility: hidden;
  background-color: #ffeeee;
  width: 250px;
  font-family: "Times New Roman";
  font-size: 12px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: -145px;
  left: -90px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
  /*bottom: 125%;*/
  /*left: 50%;*/
}

/* Popup arrow */
.links .popuptext::after {
  content: "";
  position: absolute;
  bottom: 101%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Toggle this class - hide and show the popup */
.links:hover .popuptext {
  visibility: visible;
}

.navMenu a:hover {
  color: #ffeeee;
  cursor: grab;
}
.links a:hover {
  color: red;
  cursor: grab;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #ffeeee;
  border-radius: 50%;
  opacity: 0;

  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu a:hover ~ .dot {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(2em);
  transform: translateX(2em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(7em);
  transform: translateX(8em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(320px);
  transform: translateX(17em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(415px);
  transform: translateX(27em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(475px);
  transform: translateX(32em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.primary {
  display: grid;
  place-items: center;
}
.primary-header {
  display: grid;
  place-items: start;
  grid-template-columns: auto 1fr;
}
.primary-header > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
svg .flag-style:hover {
  fill: #ffeeee;
}
.primary-header__flag {
  margin-top: 1em;
  grid-column: 1;
}

.primary-header__title {
  text-decoration: none;
  font-family: Cameliya;
  color: black;
  font-size: 100px;
  grid-column: 2;
}
.primary-header__title:hover {
  text-decoration: none;
  cursor: grab;
  color: #ffeeee;
}
.primary-header__flag:hover {
  text-decoration: none;
  cursor: grab;
  color: #ffeeee;
  fill: #ffeeee;
}
@media (min-width: 50em) {
  .primary-header {
    grid-template-columns: auto 1fr;
    padding: 10px;
  }

  [class~="nav"] {
    display: none;
    opacity: 0;
  }
}
@media screen and (max-width: 1000px) {
  .navMenu {
    display: grid;
    place-items: start;
  }
  .navMenu .dot {
    visibility: hidden;
  }
  .primary-header__flag {
    margin-top: 0.5em;

    opacity: 0.5;
    filter: blur(1px);
    height: 50px;
  }
  .primary-header__title {
    opacity: 0.5;
    filter: blur(1px);
    font-size: 50px;
  }
}
